body{
    height: 98vh;
    width: 98vw;
    background-color: beige;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color:bisque;
    color: white;
    padding-top: 10px;
}

.navbar img{
    width: 130px;
    border-radius: 100%;
}

.links{
    display: flex;
    gap: 10px;
}

.pap{
    justify-content: space-between;
    align-items: center;
    display: flex;
}

img{
    width: 150px;
    justify-content: left;
    align-items: left;
    display: flex;
}
.nombre{
    justify-content: right;
    align-items: right;
    display: flex;
}

.empresa{
    justify-content: center;
    align-items: center;
    display: flex;
}

.foto{
    width: 100%;
}
.foto img{
    width: 400px;
    height: 200px;
}